<div id="page-contents">
  <div class="container">
    <div class="row">
      <!-- Newsfeed Common Side Bar Left
      ================================================= -->
      <div class="col-md-3 static">
        <div class="profile-card">
          <%= image_tag("users/user-1.jpg", :class => "profile-photo") %>
          <h5><a href="timeline.html" class="text-white">Sarah Cruiz</a></h5>
          <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
        </div><!--profile card ends-->
        <%= render "template/new_feed_nav_new_feed" %>
        <div id="chat-block">
          <div class="title">Chat online</div>
          <%= render "template/new_feed_online_users" %>
        </div><!--chat block ends-->
      </div>
      <div class="col-md-7">
        <%= render "template/new_feed_post_create_box" %>

        <!-- Chat Room
        ================================================= -->
        <div class="chat-room" id="chat_room" current-user-id="<%= current_user.id %>">
          <div class="row">
            <%= form_for @user, method: :post, url: find_stranger_path,
              remote: true, id: "find_stranger_form" do |f| %>
                <%= f.submit "Find stranger", class: "btn btn-primary pull-left" %>
            <% end %>

            <div class="finding">
              <div class="loader"></div>
              <h4><%= t "strangers.index.finding_msg" %>
              </h4>
            </div>
            <!--Chat Messages in Right-->
            <div class="tab-content scrollbar-wrapper wrapper scrollbar-outer" id="messages_scrollbar">
              <div class="tab-pane active">
                <div class="chat-body">
                  <ul class="chat-message" id="messages-list">

                   </ul>
                </div>
              </div>
            </div><!--Chat Messages in Right End-->

              <div class="send-message" id="send-message">
                <div class="input-group">
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "strangers" %>
