<div id="page-contents">
  <div class="container">
    <div class="row">
      <!-- Newsfeed Common Side Bar Left
      ================================================= -->
      <div class="col-md-3 static">
        <%= render "shared/current_user_profile_card" %>
        <%= render "shared/new_feed_nav_new_feed" %>
      </div>
      <div class="col-md-7">
        <%= render "template/new_feed_post_create_box" %>

        <!-- Chat Room
        ================================================= -->
        <div class="chat-room" id="chat_room" current-user-id="<%= current_user.id %>">
          <div class="row">
            <%= form_for @user, method: :post, url: find_stranger_path,
              remote: true, id: "find_stranger_form" do |f| %>
                <%= f.submit "Find stranger", class: "btn btn-primary pull-left" %>
            <% end %>

            <div class="finding">
              <div class="loader"></div>
              <h4><%= t "strangers.index.finding_msg" %>
              </h4>
            </div>
            <!--Chat Messages in Right-->
            <div class="tab-content scrollbar-wrapper wrapper scrollbar-outer" id="messages_scrollbar">
              <div class="tab-pane active">
                <div class="chat-body">
                  <ul class="chat-message" id="messages-list">

                   </ul>
                </div>
              </div>
            </div><!--Chat Messages in Right End-->

              <div class="send-message" id="send-message">
                <button class="btn btn-danger pull-right" id="stranger_exit_btn" data-toggle="modal" data-target="#exitModal"><%= t "strangers.finder_stanger.exit" %></button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exitModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t "strangers.find_stranger.exit_confirm" %></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" id="stranger_exit_btn_yes">Exit</button>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "strangers" %>
