<% provide :title, t("log_in") %>
<section id="banner">
  <div class="container">
    <div class="sign-up-form">
      <a class="logo">
        <%= image_tag("logo.png") %>
      </a>
      <h2 class="text-white"><%= t ".find_friend" %></h2>
      <div class="line-divider"></div>
      <div class="form-wrapper">
        <% flash.each do |message_type, message| %>
          <ul>
            <li class="c_red"><%= message %></li>
          </ul>
        <% end %>
        <p class="signup-text"><%= t ".login_up_now" %></p>
        <%= form_for(:session, url: login_path) do |f| %>
        <%= field_set_tag nil, class: "form-group" do %>
        <%= f.text_field :email, class: "form-control", id: "example-email",
          placeholder: t(".email") %>
        <% end %>

        <%= field_set_tag nil, class: "form-group" do %>
        <%= f.password_field :password, class: "form-control",
          id: "example-password", placeholder: t(".password") %>
        <% end %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
        <% end %>
        <%= f.submit t("log_in"), class: "btn-secondary" %>
        <% end %>
      </div>
      <div>
      <p>Do not have an account? <%= link_to "Sign up now!", signup_path %></p>
      <%= image_tag("bottom-shadow.png", :class => "form_shadow") %>
      </div>
    </div><!-- Sign Up Form End -->

    <svg class="arrows hidden-xs hidden-sm">
      <path class="a1" d="M0 0 L30 32 L60 0"></path>
      <path class="a2" d="M0 20 L30 52 L60 20"></path>
      <path class="a3" d="M0 40 L30 72 L60 40"></path>
    </svg>
  </div>
</section>

<!-- Features Section
================================================= -->
<section id="features">
  <div class="container wrapper">
    <h1 class="section-title slideDown"><%= t ".social" %></h1>
    <div class="row slideUp">
      <div class="feature-item col-md-2 col-sm-6 col-xs-6 col-md-offset-2">
        <div class="feature-icon"><i class="icon ion-person-add"></i></div>
        <h3><%= t ".make_friend" %></h3>
      </div>
      <div class="feature-item col-md-2 col-sm-6 col-xs-6">
        <div class="feature-icon"><i class="icon ion-images"></i></div>
        <h3><%= t ".post" %></h3>
      </div>
      <div class="feature-item col-md-2 col-sm-6 col-xs-6">
        <div class="feature-icon"><i class="icon ion-chatbox-working"></i></div>
        <h3><%= t ".chats" %></h3>
      </div>
      <div class="feature-item col-md-2 col-sm-6 col-xs-6">
        <div class="feature-icon"><i class="icon ion-compose"></i></div>
        <h3><%= t ".polls" %></h3>
      </div>
    </div>
    <h2 class="sub-title"><%= t ".polls" %></h2>
    <div id="incremental-counter" data-value="101242"></div>
    <p><%= t ".polls" %></p>
    <%= image_tag("face-map.png", :class => "img-responsive face-map slideUp hidden-sm hidden-xs") %>
  </div>
</section>

<!-- Download Section
================================================= -->
<!-- <section id="app-download">
  <div class="container wrapper">
    <h1 class="section-title slideDown">download</h1>
    <ul class="app-btn list-inline slideUp">
      <li><button class="btn-secondary">
        <%= image_tag("app-store.png") %></button>
      </li>
      <li><button class="btn-secondary">
        <%= image_tag("google-play.png") %></button>
      </li>
    </ul>
    <h2 class="sub-title">stay connected anytime, anywhere</h2>
    <%= image_tag("iPhone.png", :class => "img-responsive") %>
  </div>
</section> -->

<!-- Image Divider
================================================= -->
<!-- <div class="img-divider hidden-sm hidden-xs"></div> -->

<!-- Facts Section
================================================= -->
<!-- <section id="site-facts">
  <div class="container wrapper">
    <div class="circle">
      <ul class="facts-list">
        <li>
          <div class="fact-icon"><i class="icon ion-ios-people-outline"></i></div>
          <h3 class="text-white">1,01,242</h3>
          <p>People registered</p>
        </li>
        <li>
          <div class="fact-icon"><i class="icon ion-images"></i></div>
          <h3 class="text-white">21,01,242</h3>
          <p>Posts published</p>
        </li>
        <li>
          <div class="fact-icon"><i class="icon ion-checkmark-round"></i></div>
          <h3 class="text-white">41,242</h3>
          <p>People online</p>
        </li>
      </ul>
    </div>
  </div>
</section> -->

<!-- Live Feed Section
================================================= -->
<section id="live-feed">
  <div class="container wrapper">
    <h1 class="section-title slideDown">live feed</h1>
    <ul class="online-users list-inline slideUp">
      <li><a href="#" title="Alexis Clark">
        <%= image_tag("users/user-5.jpg", :class => "img-responsive profile-photo") %>
        <span class="online-dot"></span></a></li>
      <li><a href="#" title="James Carter">
        <%= image_tag("users/user-6.jpg", :class => "img-responsive profile-photo") %><span class="online-dot"></span></a></li>
      <li><a href="#" title="Robert Cook">
        <%= image_tag("users/user-7.jpg", :class => "img-responsive profile-photo") %><span class="online-dot"></span></a></li>
      <li><a href="#" title="Richard Bell">
        <%= image_tag("users/user-8.jpg", :class => "img-responsive profile-photo") %>
      <li><a href="#" title="Anna Young">
        <%= image_tag("users/user-9.jpg", :class => "img-responsive profile-photo") %>
      <li><a href="#" title="Julia Cox">
        <%= image_tag("users/user-10.jpg", :class => "img-responsive profile-photo") %>
    </ul>
    <h2 class="sub-title">see what’s happening now</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-2">
        <div class="feed-item">
          <%= image_tag("users/user-1.jpg", :class => "img-responsive profile-photo-sm") %>
          <div class="live-activity">
            <p><a href="#" class="profile-link">Sarah</a> just posted a photo from Moscow</p>
            <p class="text-muted">20 Secs ago</p>
          </div>
        </div>
        <div class="feed-item">
          <%= image_tag("users/user-2.jpg", :class => "img-responsive profile-photo-sm") %>
          <div class="live-activity">
            <p><a href="#" class="profile-link">John</a> Published a post from Sydney</p>
            <p class="text-muted">1 min ago</p>
          </div>
        </div>
        <div class="feed-item">
          <%= image_tag("users/user-3.jpg", :class => "img-responsive profile-photo-sm") %>
          <div class="live-activity">
            <p><a href="#" class="profile-link">Julia</a> Updated her status from London</p>
            <p class="text-muted">5 mins ago</p>
          </div>
        </div>
        <div class="feed-item">
          <%= image_tag("users/user-4.jpg", :class => "img-responsive profile-photo-sm") %>
          <div class="live-activity">
            <p><a href="#" class="profile-link">Sophia</a> Share a photo from Virginia</p>
            <p class="text-muted">10 mins ago</p>
          </div>
        </div>
        <div class="feed-item">
          <%= image_tag("users/user-1.jpg", :class => "img-responsive profile-photo-sm") %>
          <div class="live-activity">
            <p><a href="#" class="profile-link">Linda</a> just posted a photo from Toronto</p>
            <p class="text-muted">20 mins ago</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feed-item">
          <%= image_tag("users/user-1.jpg", :class => "img-responsive profile-photo-sm") %>
          <div class="live-activity">
            <p><a href="#" class="profile-link">Nora</a> Shared an article from Ohio</p>
            <p class="text-muted">22 mins ago</p>
          </div>
        </div>
        <div class="feed-item">
          <%= image_tag("users/user-18.jpg", :class => "img-responsive profile-photo-sm") %>
          <div class="live-activity">
            <p><a href="#" class="profile-link">Addison</a> Created a poll from Barcelona</p>
            <p class="text-muted">23 mins ago</p>
          </div>
        </div>
        <div class="feed-item">
          <%= image_tag("users/user-11.jpg", :class => "img-responsive profile-photo-sm") %>
          <div class="live-activity">
            <p><a href="#" class="profile-link">Diana</a> Posted a video from Captown</p>
            <p class="text-muted">27 mins ago</p>
          </div>
        </div>
        <div class="feed-item">
          <%= image_tag("users/user-1.jpg", :class => "img-responsive profile-photo-sm") %>
          <div class="live-activity">
            <p><a href="#" class="profile-link">Sarah</a> Shared friend's post from Moscow</p>
            <p class="text-muted">30 mins ago</p>
          </div>
        </div>
        <div class="feed-item">
          <%= image_tag("users/user-1.jpg", :class => "img-responsive profile-photo-sm") %>
          <div class="live-activity">
            <p><a href="#" class="profile-link">Emma</a> Started a new job at Torronto</p>
            <p class="text-muted">33 mins ago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
