<div class="create-post">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <div class="form-group">
        <%=image_tag current_user.avatar_url(), :class => "profile-photo-md" %>
        <textarea data-toggle="modal" data-target="#squarespaceModal" name="texts" id="exampleTextarea" cols="50" rows="1" class="form-control"></textarea>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="tools">
        <button class="btn btn-primary pull-right w100">Publish</button>
      </div>
    </div>
  </div>
</div><!-- Post Create Box End-->

<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only"><%= t ".close" %></span></button>
      <h3 class="modal-title" id="lineModalLabel"><%= t ".new_blog" %></h3>
    </div>
    <div class="modal-body">
        <%= form_for :blog, url: blogs_path do |f| %>
          <%= f.label :body %>
          <%= f.text_area :body, cols: 30, rows: 10, class: "form-control" %>
          <%= f.label :avatar %>
          <%= f.file_field :photo%>
          <hr>
          <%= f.submit t("submit"), class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
  </div>
</div>
