<ul class="nav-news-feed">
  <li><i class="icon ion-ios-paper"></i><div>
    <%= link_to "My Newsfeed", controller: "template", action: "new_feed" %>
  </div></li>
  <li><i class="icon ion-ios-people"></i><div>
    <%= link_to "Matching", controller: "template", action: "new_feed_find_people" %>
  </div></li>
  <li><i class="icon ion-ios-people"></i><div>
    <%= link_to "People Nearby", controller: "template", action: "new_feed_people_nearby" %>
  </div></li>
  <li><i class="icon ion-ios-people-outline"></i><div>
    <%= link_to "Friends", controller: "template", action: "new_feed_friends" %>
  </div></li>
  <li><i class="icon ion-chatboxes"></i><div>
    <%= link_to t("template.chat_with_friends"), controller: "conversations", action: "index" %>
  </div></li>
  <li><i class="icon ion-chatboxes"></i><div>
    <%= link_to t("template.chat_with_stranger"), controller: "strangers", action: "index" %>
  </div></li>
  <li><i class="icon ion-images"></i><div>
    <a href="#">Images</a>
  </div></li>
  <li><i class="icon ion-ios-videocam"></i><div>
    <a href="#">Videos</a>
  </div></li>
</ul><!--news-feed links ends-->
