<div id="page-contents">
  <div class="container">
    <div class="row">
      <div class="col-md-3 static">
        <%= render "shared/current_user_profile_card" %>
        <%= render "shared/new_feed_nav_new_feed" %>
      </div>
      <div class="col-md-7">
        <%= render "template/new_feed_post_create_box" %>
        <%= render "shared/new_feed_blogs" %>
        <%= paginate @blogs %>
      </div>

      <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar">
        </div>
      </div>
    </div>
  </div>
</div>
