<div id="page-contents">
  <div class="container">
    <div class="row">
      <div class="col-md-3 static">
        <div class="profile-card">
          <%= image_tag("users/user-1.jpg", class: "profile-photo") %>
          <h5><a href="timeline.html" class="text-white"><%= current_user %></a></h5>
        </div>
        <%= render "template/new_feed_nav_new_feed" %>
      </div>
      <div class="col-md-7">
        <%= render "template/new_feed_post_create_box" %>

      <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar">
          <%= render "template/new_feed_who_to_follow" %>
        </div>
      </div>
    </div>
  </div>
</div>
