<div id="page-contents">
  <div class="container">
    <div class="row">
      <div class="col-md-7 static">
        <div class="post-content">
          <div class="post-container">
            <%= image_tag("users/user-5.jpg", :class => "profile-photo-md pull-left") %>
            <div class="post-detail">
              <div class="user-info">
                <h5><a href="timeline.html" class="profile-link"><%= @blog.name %></a>
                  <span class="following"></span>
                </h5>
                <p class="text-muted"><%= time_ago_in_words(@blog.created_at) %> ago</p>
              </div>
            </div>
          </div>
        </div>
         <% if @blog.photo.present? %>
              <%=image_tag @blog.photo_url(), class: "img-responsive post-image" %>
            <% end %>
        <div id="chat-block" class="txt_align_left">
          <div class="post-content">
            <div class="post-container">
              <div class="post-text">
                <p><%= @blog.body %><i class="em em-anguished"></i>
                  <i class="em em-anguished"></i> <i class="em em-anguished"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render "comment_form" %>
    </div>
  </div>
</div>
