<ul class="nav-news-feed">
  <li><i class="icon ion-ios-paper"></i><div>
    <%= link_to t("admin.newfeed"), blogs_path %>
  </div></li>
  <li><i class="icon ion-ios-paper"></i><div>
    <%= link_to t("admin.user_all"), admin_users_path %>
  </div></li>
  <li><i class="icon ion-ios-paper"></i><div>
    <%= link_to t("admin.reported_all"), admin_reports_path %>
  </div></li>
  <li><i class="icon ion-ios-paper"></i><div>
    <%= link_to t("admin.reported_unique"), admin_unique_reports_path  %>
  </div></li>
  <li><i class="icon ion-ios-paper"></i><div>
    <%= link_to t("admin.complaint_all"), admin_complaints_path %>
  </div></li>
</ul><!--news-feed links ends-->
