<%provide :title, @user.name%>
<% @desire = Desire.find_by user_id: @user.id %>
<p><span class="text-grey">
  <% if @desire&.status? %>
    <%= "Private" %>
  <% else %>
    <%= "Public" %>
  <% end %>
</span></p>
<ul id="nav_show">
  <li>
    <div>
      <h5 >Genre</h5>
      <p><span class="text-grey"><%= @desire&.genre %></span></p>
    </div>
  </li>
  <li>
    <div>
      <h5 ><%= t "description" %></h5>
      <p><span class="text-grey"><%= @desire&.description %></span></p>
    </div>
  </li>
  <li>
    <div>
      <h5 ><%= t "age" %></h5>
      <p>
        <span class="text-grey"><%= @desire&.age_min %></span>&nbsp; :
        <span class="text-grey"><%= @desire&.age_max %></span>
      </p>
    </div>
  </li>

  <li>
    <div>
      <h5 ><%= t "height" %></h5>
      <p>
        <span class="text-grey"><%= @desire&.height_min %></span> &nbsp; :
        <span class="text-grey"><%= @desire&.height_max %></span></p>
      </p>
    </div>
  </li>

  <li>
    <div>
      <h5 ><%= t "weight" %></h5>
      <p>
        <span class="text-grey"><%= @desire&.weight_min %></span> &nbsp; :
        <span class="text-grey"><%= @desire&.weight_max %></span>
      </p>
    </div>
  </li>
</ul>
