<% provide :title, @user.name %>
<%= render "shared/follow_form" %>
<h1>
  <%= @user.name %></br>
</h1>
<h1>
  <%= @user.name %></br>
</h1>
<h1>
  <%= @user.name %></br>
</h1>
<h1>
  <%= @user.name %></br>
</h1>
<h1>
  <%= @user.name %></br>
</h1>
<h1>
  <%= @user.name %></br>
</h1>
