<% provide :title, @user.name %>
<div class="container">

  <!-- Timeline
  ================================================= -->
  <div class="timeline">
    <%= render "shared/timeline_cover" %>
    <div id="page-contents" class="no_margin_top">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">

          <!-- Friend List
          ================================================= -->
          <div class="friend-list">
            <div class="row">
              <h4><%= t ".friends" %></h4>
              <% @friends.each do |fr| %>
                  <div class="col-md-6 col-sm-6">
                    <div class="friend-card">
                      <%= image_tag("covers/1.jpg", :class => "img-responsive cover") %>
                      <div class="card-info">
                        <%= image_tag fr.avatar_url, class: "profile-photo-lg" %>
                        <div class="friend-info">
                          <%= link_to t(".my_friend"), user_path(fr), class: "pull-right text-green" %>
                          <h5>
                            <%= link_to fr.name, user_path(fr), class: "profile-link" %>
                          </h5>
                          <p><%= fr.nick_name %></p>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
              <%= paginate @friends %>
            </div>
          </div>
        </div>
        <div class="col-md-2 static">
          <%= render "shared/timeline_activity" %>
        </div>
      </div>
    </div>
  </div>
</div>
