<ul class="nav-news-feed">
  <li><i class="icon ion-ios-paper"></i><div>
    <%= link_to "Newsfeed", blogs_path %>
  </div></li>
  <li><i class="icon ion-ios-people"></i><div>
    <%= link_to "Matching", controller: "searchs", action: "index" %>
  </div></li>
  <li><i class="icon ion-ios-people"></i><div>
    <%= link_to "People Nearby", transactions_path %>
  </div></li>
  <li><i class="icon ion-chatboxes"></i><div>
    <%= link_to t("template.chat_with_friends"), controller: "conversations", action: "index" %>
  </div></li>
  <li><i class="icon ion-chatboxes"></i><div>
    <%= link_to t("template.chat_with_stranger"), talk_path %>
  </div></li>
  <li><i class="icon ion-images"></i><div>
    <a href="#">Images</a>
  </div></li>
</ul><!--news-feed links ends-->
