<ul class="nav-news-feed">
  <li><i class="icon ion-ios-paper"></i><div>
    <%= link_to t("newsfeed"), blogs_path %>
  </div></li>
  <li><i class="icon ion-ios-people"></i><div>
    <%= link_to t("matching"), searchs_path %>
  </div></li>
  <li><i class="icon ion-ios-people"></i><div>
    <%= link_to t("people_nearby"), transactions_path %>
  </div></li>
  <li><i class="icon ion-chatboxes"></i><div>
    <%= link_to t("template.chat_with_friends"), conversations_path %>
  </div></li>
  <li><i class="icon ion-chatboxes"></i><div>
    <%= link_to t("template.chat_with_stranger"), talk_path %>
  </div></li>
</ul><!--news-feed links ends-->
