<div class="carousel-inner" id="carousel-inner">
  <% @users.each_with_index do |user, i| %>
    <div class="item <%= "active" if i.zero? %>">
      <div class="card">
        <div class="card_images">
          <%= image_tag user.avatar_url, class: "card_image" %>
          <span class="card_title"><%= user.name %> - <%= get_distance_search(user.local, @my_transaction) %> - Ha Noi</span>
        </div>
        <div class="card_action">
          <%=link_to t(".profile"), user_path(user), class: "btn btn-primary pull-left card_btn card_profile_btn" %>
          <button class="btn btn-default card_btn pull-right" data-slide="next" href="#myCarousel">Next</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
