<div id="page-contents">
  <div class="container">
    <div class="row">
      <!-- Newsfeed Common Side Bar Left
      ================================================= -->
      <div class="col-md-3 static">
        <%= render "shared/current_user_profile_card" %>
        <%= render "shared/new_feed_nav_new_feed" %>
      </div>
      <div class="col-md-7">
        <%= render "template/new_feed_post_create_box" %>
         <!-- Friend List
        ================================================= -->
        <%= form_for :search, remote: true do |f| %>
          <div class="form_group row margin_btm_15">
            <%= f.label :genre, class: "control-label col-sm-2" %>
              Male<%= f.radio_button :genre, "male", required: true %> &nbsp;
              Female<%= f.radio_button :genre, "female", required: true %>
          </div>
          <div class="form_group row margin_btm_15">
            <%= f.label :age, class: "control-label col-sm-2" %>
            <%= f.number_field :age_min, min: Settings.matching.min_age, required: true %> &nbsp; -
            <%= f.number_field :age_max, max: Settings.matching.max_age, required: true %>
          </div>
          <div class="form_group row margin_btm_15">
            <div class="col-sm-2"></div>
            <%= f.submit "Matching", class: "btn btn-primary" %>
          </div>
        <% end %>
        <div class="row">
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Wrapper for slides -->
            <%= render "searchs/card_search" %>
          </div>
        </div>
      </div>
       <!-- Newsfeed Common Side Bar Right
      ================================================= -->
      <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar">
        </div>
      </div>
    </div>
  </div>
</div>
 <%= javascript_include_tag "slide_card" %>
