<div id="page-contents">
  <div class="container">
    <div class="row">
      <!-- Newsfeed Common Side Bar Left
      ================================================= -->
      <div class="col-md-3 static">
        <%= render "shared/current_user_profile_card" %>
        <%= render "shared/new_feed_nav_new_feed" %>
      </div>
      <div class="col-md-7">
        <%= render "template/new_feed_post_create_box" %>
         <!-- Friend List
        ================================================= -->
        <%= form_for :search, remote: true do |f| %>
          <div class="form_group row margin_btm_15">
            <%= f.label :genre, class: "control-label col-sm-2" %>
            <div class="col-sm-4">
              Male<%= f.radio_button :genre, "male" %> &nbsp;
              Female<%= f.radio_button :genre, "female" %>
            </div>
          </div>
          <div class="form_group row margin_btm_15">
            <%= f.label :age, class: "control-label col-sm-2" %>
            <p>
              <%= f.number_field :age_min, min: 10 %> &nbsp; -
              <%= f.number_field :age_max, min: 10 %>
            </p>
          </div>
           <%= f.submit "Matching", class: "btn btn-primary" %>
        <% end %>
        <div class="row">
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Wrapper for slides -->
            <%= render "searchs/card_search" %>
            <% if @users.any? %>
              <!-- Left and right controls -->
              <a class="carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only"><%= t "previous" %></span>
              </a>
              <a class="card_next_btn carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only"><%= t "back" %></span>
              </a>
            <% end %>
          </div>
        </div>
      </div>
       <!-- Newsfeed Common Side Bar Right
      ================================================= -->
      <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar">
        </div>
      </div>
    </div>
  </div>
</div>
 <%= javascript_include_tag "slide_card" %>
